body {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    padding: auto;
}

/* HEADER SECTION */
.header {
    background-color: #1f2937;
    font-size: 24px;
    height: 60px;
    color: #f9faf8;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 247px;
    padding-right: 146px;
}

a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

.links {
    display: flex;
    gap: 1.1em;
    margin-left: 120px;
}
 /* END HEADER SECTION */


 /* MAIN SECTION */
.mainFlex {
    display: flex;
    flex-direction: column;
}

.bgColor {
    background-color: #1f2937;
    width: 100%;
    height: 480px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 0px;
    padding-left: 250px;
    padding-top: 60px;
    width: 28%;
}

.mainFlex p {
    font-size: 18px;
    color: #E5E7EB;
    padding-left: 254px;
    margin-top: 3px;
    width: 24%;
}

.mainBttn {
    background-color: #3882f6;
    color: white;
    border: #3882f6;
    height: 30px;
    width: 100px;
    border-radius: 8px;
    margin-left: 254px;
}
/* END OF MAIN SECTION */


 /* INFO SECTION */
h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 52px;
    margin-bottom: 50px;
    margin-top: 65px;
}

.box1,
.box2,
.box3,
.box4 {
    background: white;
    height: 160px;
    width: 160px;
    border-radius: 15px;
}

.info-text {
    color: gray;
    font-size: 18px;
    display: flex;
    justify-content: center;
    width: 46%;
    gap: 53px;
    padding-left: 468px;
    margin-top: -41px;
    margin-bottom: 145px;
}

.text3 {
    padding-left: 35px;
}

section img {
    height: 160px;
    width: 160px;
    border-radius: 15px;
}
 /* END OF INFO SECTION */


 /* QUOTE SECTION */
.quote-bg {
    background-color: #E5E7EB;
    width: 100%;
    height: 453px;
    display: flex;
    justify-content: center;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: 100;
    display: flex;
    align-items: center;
    width: 48%;
}

figcaption {
    color: black;
    font-size: 21px;
    font-weight: normal;
    font-style: normal;
    margin-left: 65%;
}
/* END OF QUOTE SECTION */


/* CALL TO ACTION SECTION */
.call-container {
    background-color: #3882f6;
    height: 150px;
    width: 1023px;
    margin: 140px auto;
    border-radius: 11px;
    display: flex;
    flex-direction: collum;
    justify-content: space-around;
    align-items: center;
}

strong {
    font-size: 24px;
    color: white;
    font-weight: bold;
}

.call-container button {
    border: 2px solid #fff;
    padding: 7px;
    background-color: #3882f6;
    width: 120px;
    border-radius: 8px;
    color: white;
}

.secondary {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}





 /* END OF CALL TO ACTION SECITION */









footer {
    background-color: #1f2937;
    color: white;
    position: absolute;
    width: 100%;
    height: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
}